@font-face {
  font-family: "Inter R";
  src: url("fonts/Inter-Regular.otf");
}

@font-face {
  font-family: "Inter SB";
  src: url("fonts/Inter-SemiBold.otf");
}

@font-face {
  font-family: "Inter M";
  src: url("fonts/Inter-Medium.otf");
}

@font-face {
  font-family: "Inter B";
  src: url("fonts/Inter-Bold.otf");
}

@font-face {
  font-family: "Inter T";
  src: url("fonts/Inter-Thin.otf");
}

@font-face {
  font-family: "Inter L";
  src: url("fonts/Inter-Light.otf");
}

@media (max-width: 978px)
#override {
  margin: 0;
  padding: 1rem;
}

@media (min-width: 979px)
#override {
  overflow: hidden;
}

#override {
  line-height: 1.5;
  font-family: Inter R;
  font-size: 1rem;
  margin: 0 auto;
  max-width: 42rem;
  padding: 0 1.25rem;
  text-align: center;
}

#landing {
  display: block;
  padding-top: 1.5rem;
  text-align: left;
  padding-bottom: 1rem;
  min-height: 1vh;
}

div {
  display: block;
}

#me {
  text-align: left;
}

#me img {
  height: 10em;
  border-radius: 50%;
}

img {
  border: 0;
}

#landing .p1 {
  font-size: 2.488rem;
  font-family: Inter B;
  letter-spacing: -0.025em;
  margin: 0;
  color: #222222;
}

#columbia_blue {
  color: #0071ce;
}

#landing .p2 {
  font-size: 1.44rem;
  font-family: Inter L;
  letter-spacing: -0.025em;
  margin: 0 0 2rem 0;
  color: #a1a1aa;
}

p {
  line-height: 1.625;
  padding: 0;
  margin: 0 0 5 0;
  display: block;
  color: #71717a;
  font-family: Inter R;
}

p a {
  color: #0071ce;
  text-decoration: none;
}

p a:hover {
  color: #022169;
}

#landing .p3 {
  font-size: 1.728rem;
  font-family: Inter SB;
  letter-spacing: -0.025em;
  margin: 0 0 2rem 0;
  color: #222222;
}

.na_msg {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
} 

.semester {
  font-size: 1.2rem;
  font-family: Inter B;
  color: #222222;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: 550px)
.four.columns {
    width: 30.6666666667%;
}

@media (min-width: 550px)
.column:first-child, .columns:first-child {
    margin-left: 0;
}

.course {
  margin: 0 0.25rem 0 0.25rem;
  padding: 0 0 0.5rem 0.5rem;
  flex-grow: 1;
  flex-shrink: 0%;
  flex-basis: 0%;
}

.columns {
  float: left;
  box-sizing: border-box;
}

.course-number {
  font-family: Inter L;
  color: #0071ce;
}

#landing .p4 {
  margin: 0 0 0.25rem 0;
  padding: 0 0.75 0.50 0;
  font-size: 1.2rem;
  color: #222222;
  font-family: Inter R;
}

@media (min-width: 550px)
.two.columns {
    width: 13.333333333%;
}

.date {
  margin: 0 0.25 0 0.25;
  padding: 0 0 0.5 0;
  font-family: Inter L;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
  color: #0071ce;
}


@media (min-width: 550px)
.ten.columns {
    width: 82.6666666667%;
}

.exp {
  margin: 0 0.25rem 0.25rem 0;
  padding:  0 0 0.5rem 0;
  flex-grow: 2;
  flex-shrink: 0;
  flex-basis: 0%;
  font-family: Inter R;
}